# cakechat server gitignore
*.DS_Store
*.pyc
*.swp
*.egg-info
.idea
temp/*
dist/*
build/*
tags
venv
results
!data/corpora_processed
!data/quality
cakechat/data/w2v_models/train_processed_dialogs_window10_voc50000_vec128_sgTrue.bin

# React app gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
my-app/node_modules/
my-app/api/venv/
venv/
/.pnp
.pnp.js

# testing
my-app/coverage/

# production
my-app/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
my-app/api/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


extracode.txt
props.txt
*.txt
