# cakechat server gitignore
*.DS_Store
*.pyc
*.swp
*.egg-info
.idea
cakechat/

# React app gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
my-app/node_modules/
my-app/api/venv/
venv/
/.pnp
.pnp.js

# testing
my-app/coverage/

# production
my-app/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local



npm-debug.log*
yarn-debug.log*
yarn-error.log*

extracode.txt
props.txt
my-app/api/.env